attrs
blinker
cached-property
chardet
chatterbot
chatterbot-corpus
chrome-gnome-shell
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
docker
docker-compose
dockerpty
flask
gunicorn
idna
ipykernel
jsonschema
language-selector
launchpadlib
louis
macaroonbakery
more-itertools
netifaces
oauthlib
olefile
pillow
pip-chill
pipreqs
protobuf
pycups
pygobject
pyjwt
pymacaroons
pynacl
pyrfc3339
pyrsistent
python-apt
python-debian
python-dotenv
python-telegram-bot
pyxdg
reportlab
requests-unixsocket
simplejson
systemd-python
texttable
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
virtualenv
websocket-client
xkit
